.panda-donate {
  height: 390px;
  background-image: url(../../assets/background/panda_bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-donate {
  padding-top: 40px;
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
}

.title__donate {
  font-size: 36px;
  line-height: 130%;
  color: #ffffff;
  font-weight: 400;

  margin-bottom: 10px;
}

.decription__donate {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;

  margin-bottom: 40px;
}

.subtitle__donate {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #fe9013;
  margin-bottom: 60px;
}

.donate__container {
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding-top: 40px;
  padding-right: 92px;
  padding-left: 92px;
  /* max-width: 100%; */
}

.donate-body {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 30px;
}

.title_donate-container {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #fe9013;
}

.subtitle_donate-container {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333b41;
}

.title_donate-container {
  margin-bottom: 10px;
}

.subtitle_donate-container {
  margin-bottom: 60px;
}

.image__donate-animals {
  display: flex;
  height: 246px;
  /* width: 976px; */
  justify-content: center;
  gap: 64px;
  margin-bottom: 48px;
}
.donate__number {
  margin-top: 105px;
  text-align: center;
}

.number_panda {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 72px;
}

.text_panda {
  font-weight: 400;
  font-size: 16px;
}

.donate__number_wrapper {
  display: flex;
}
.donate__number_wrapper > img {
  margin-top: 130px;
  width: 14px;
  height: 14px;
}

.donate__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  align-items: center;
}

.donate__button {
  border-radius: 25px;
  margin-bottom: 30px;
  margin-bottom: 30px;
}

.donate__radiobuttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.donate__radiobuttons label {
  position: relative;
  user-select: none;
  display: inline-block;
  cursor: pointer;
  margin-right: 0;
  padding-left: 25px;
  line-height: 18px;
}
.time {
  display: none;
}
.radiobutton-item label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  border: 1px solid #fe9013;
  border-radius: 50%;
}

.time:checked + label:before {
  border: 1px solid #4b9200;
  background-color: #4b9200;
}

.radiobutton-item label:hover:before {
  filter: brightness(120%);
}

.donate__radiobuttons label:before {
  content: "";
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #fe9013;
}

.another_amount {
  position: relative;
  width: 268px;
  height: 54px;
  border: 1px solid #929699;
  padding-left: 9px;
}

.wrapper__another-amount {
  position: relative;
}

.wrapper__another-amount > .donate-icon__dollar {
  position: absolute;
  top: 11px;
  right: 10px;
  font-size: 25px;
  font-weight: 700;
  color: #929699;
}

.wrapper__another-amount:active .donate-icon__dollar {
  color: green;
}

.donate__shared {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333b41;
}

.donate__text-amount {
  margin: 10px;
}

.donate-range {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  content: "";
  width: 975px;
  height: 27px;
  background: #404950;
  border-radius: 2px;
  border: 1px solid transparent;
}

.donate-range__input[type="range"] {
  width: 955px;
  height: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.donate-range__input {
  position: relative;
  z-index: 2;
  top: 6px;
  content: "";
  background: #72828e;
  background: transparent;
  border-radius: 2px;
  border: 1px solid transparent;
}

.donate-range__input[type="range"]::-webkit-slider-thumb {
  background: url(../../assets/icons/yellow-circle.svg);
  cursor: pointer;
  width: 40px;
  height: 40px;
  -webkit-appearance: none;
}

.donate-range__input[type="range"]::-moz-range-thumb {
  background: url(../../assets/icons/yellow-circle.svg);
  cursor: pointer;
  width: 40px;
  height: 40px;
  -webkit-appearance: none;
  border: none;
}

.grey-line {
  position: absolute;
  width: 915px;
  height: 2px;
  background: #72828e;
  /* left: 30px; */
  z-index: 0;
}

.donate-circle {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 120.5px;
  z-index: 1;
}

.range-circle__item {
  content: "";
  left: 26px;
  background: #ffee2e;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.range-circle__item {
  cursor: pointer;
}

.donate-range__input:hover {
  cursor: pointer;
}

.donate-number {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  font-size: 26px;
}
