.panda-donate {
  height: 390px;
  background-image: url(../../assets/background/panda_bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-donate {
  padding-top: 40px;
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
}

.title__donate {
  font-size: 36px;
  line-height: 130%;
  color: #ffffff;
  font-weight: 400;

  margin-bottom: 10px;
}

.decription__donate {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;

  margin-bottom: 40px;
}

.subtitle__donate {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #fe9013;
  margin-bottom: 60px;
}

.donate__container {
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding-top: 40px;
  padding-right: 92px;
  padding-left: 92px;
  /* max-width: 100%; */
}

.donate-body {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 30px;
}

.title_donate-container {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #fe9013;
}

.subtitle_donate-container {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333b41;
}

.title_donate-container {
  margin-bottom: 10px;
}

.subtitle_donate-container {
  margin-bottom: 60px;
}

.image__donate-animals {
  display: flex;
  height: 246px;
  /* width: 976px; */
  justify-content: center;
  gap: 64px;
  margin-bottom: 48px;
}
.donate__number {
  margin-top: 105px;
  text-align: center;
}

.number_panda {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 72px;
}

.text_panda {
  font-weight: 400;
  font-size: 16px;
}

.donate__number_wrapper {
  display: flex;
}
.donate__number_wrapper > img {
  margin-top: 130px;
  width: 14px;
  height: 14px;
}

.donate__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  align-items: center;
}

.donate__button {
  border-radius: 25px;
  margin-bottom: 30px;
  margin-bottom: 30px;
}

.donate__radiobuttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.donate__radiobuttons label {
  position: relative;
  user-select: none;
  display: inline-block;
  cursor: pointer;
  margin-right: 0;
  padding-left: 25px;
  line-height: 18px;
}
.time {
  display: none;
}
.radiobutton-item label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  border: 1px solid #fe9013;
  border-radius: 50%;
}